BOT_TOKEN=your_bot_token_here
MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/edu_bot?retryWrites=true&w=majority
WEB_URL=https://your-edu-app.onrender.com
OWNER_ID=123456789
FORCE_JOIN_CHANNELS=-1002553212331,-1003374353864
OWNER_ID=7456681709
STORAGE_CHANNEL_ID=-1003296779450
